name: Vendored Flatpak Repository
on: [ push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GPG_KEY_ID: ${{ vars.GPG_PRIVATE_KEY_ID }}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-25.08
      options: --privileged
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup GPG
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: |
          echo -n "$GPG_PRIVATE_KEY" | gpg --import --batch

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          build-bundle: false
          # bundle: glide.flatpak
          manifest-path: app.glide_browser.glide.yml
          gpg-sign: ${{ vars.GPG_PRIVATE_KEY_ID }}

      - run: ls -al


      - name: Upload Artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: repo/


  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v4
